.nav-a {
  text-decoration: none;
  padding-bottom: 1em;
}

.banner-img {
  position: relative;
}

.nav-li{
  position: relative;
  top: -.25em;
  padding: 0 1em 0 1em;
  overflow: auto;
}

.txt {
  width: 100%;
  position: absolute;
}

.max-height {
  max-height: 640px;
}

.max-img {
  max-width: 550px;
}

.fig-caption {
  text-transform: uppercase;
  font-weight: bolder;
  padding-left: .75em;
  margin-top: -2em;
}

/*Orginals before the media Queries*/

.logo {
  width: 50px;
}

.txt {
  padding-top: 7em;
}

.portfolio-figure {
  padding: 0 .75em 0 .75em;
}

.interactive-space {
  padding: 0 .75em 0 .75em;
}

@media only screen and (min-width: 38em) {

  .logo {
    width: 60px;
  }

  .txt {
    padding-top: 12em;
  }

  .portfolio-figure {
    padding: 0 1.25em 0 1.25em;
  }

  .interactive-space {
    padding: 0 1em 0 1em;
  }
}

@media only screen and (min-width: 60em) {

  .logo {
    width: 75px;
  }

  .txt {
    padding-top: 20em;
  }

  .portfolio-figure {
    padding: 1em 5em 1em 5em;
  }

  .interactive-space {
    padding: 0 5em 0 5em;
  }
}

@media only screen and (min-width: 90em) {

  .logo {
    width: 90px;
  }

  .txt {
    padding-top: 23em;
  }

  .portfolio-figure {
    padding: 1em 8em 1em 8em;
  }

  .interactive-space {
    padding: 0 8em 0 8em;
  }
}
