/*
  purple: #a983bb;
  aqua: #26bbb3;
  tan: #d2b887;
 */

.max-body, h1, h2 {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

.banner-img {
  position: relative;
}

.nav-li {
  position: relative;
  top: -.25em;
  padding: 0 1em 0 1em;
}

.txt {
  width: 100%;
  position: absolute;
}

.fig-caption {
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  text-transform: uppercase;
  font-weight: bolder;
  padding-left: .75em;
  margin-top: -2em;
}

/*Orginals before the media Queries*/

.logo {
  width: 50px;
}

.txt {
  padding-top: 7em;
}

.social-icon {
  width: 50px;
  padding: 0 .25em 0 .25em;
}

.used-program-icon {
  width: 70px;
  padding: 0 .25em 0 .25em;
}

@media only screen and (min-width: 38em) {

  .logo {
    width: 60px;
  }

  .txt {
    padding-top: 12em;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    width: 75px;
  }

  .txt {
    padding-top: 20em;
  }

  .social-icon {
    width: 65px;
    padding: 0 .3em 0 .3em;
  }

}

@media only screen and (min-width: 90em) {

  .logo {
    width: 90px;
  }

  .txt {
    padding-top: 23em;
  }

}
