.nav-a {
  text-decoration: none;
}

.banner-img {
  position: relative;
}

.txt {
  width: 100%;
  position: absolute;
}

.fig-caption {
  text-transform: uppercase;
  font-weight: bolder;
  padding-left: .75em;
  margin-top: -2em;
}
