<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Maggie Paquette: Portfolio Website</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="I am Maggie Paquette and I'm a graphic designer. Interested mainly in UI/UX mostly on the webfront.">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800" rel="stylesheet">
  <link href="{{site.baseurl}}/css/module.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>
  <header class="text-center">
    <nav>
      <ul class="island-half">
        <li class="mega nav-li inline-block"><a class="nav-a" href="{{site.baseurl}}/">Home</a></li>
        <img class="inline-block logo" src="{{site.baseurl}}/images/maggie-paquette-logo.svg" alt="Personal logo for Maggie Paquette">
        <li class="mega nav-li inline-block"><a class="nav-a" href="{{site.baseurl}}/portfolio/">Work</a></li>
      </ul>
    </nav>
  </header>

{{content}}

</body>
</html>
